{extend name="layout"}
{block name="title"}订单管理{/block}
{block name="css"}
<link href="__PUBLIC__/two/css/chosen.min.css" rel="stylesheet">
<link href="__PUBLIC__/two/css/icheck-green.css" rel="stylesheet">
<link href="__PUBLIC__/two/css/jquery.datetimepicker.css" rel="stylesheet">
<style media="screen">
    label {
        font-weight: bold;
    }

    .tab .tab-nav .active a {
        color: #fff;
        background: #0a8;
    }


</style>
{/block}
{block name="script"}
<script src="__PUBLIC__/two/js/pintuer.js"></script>
<script type="text/javascript">
    $(function () {
        $("#student").CboxAll();
        $(".btnPay").click(function () {
            var num = $(this).data("num");
            var price = $(this).data("price");
            confirm("请选择付款方式",
                {
                    okVal: "在线付款",
                    cancelVal: "银行汇款",
                    //线上支付
                    confirm: function () {
                        location.href = "/onlinepay?num=" + num
                    },
                    //线下支付
                    cancel: function () {
                        var offInfo = getOffLineInfo(num, price);
                        confirm(offInfo, {
                                confirm: function () {
                                    location.href = "/payment?num=" + num;
                                }
                            }
                        );
                    }
                })
        })
        $(".btnOff").click(function () {
            var num = $(this).data("num");
            var price = $(this).data("price");
            var offInfo = getOffLineInfo(num, price);
            alert(offInfo);
        })
        var search = location.search;
        if (search.indexOf("payed=1") > -1) {
            $(".tab-head ul li").last().click();
            $(window.parent.document).find('.clckClass').removeClass('clckClass');
            $(window.parent.document).find(".ti.orders").addClass('clckClass');
        }
        $(".bg-main").click(function () {
            var _nums = $(this).attr("category_id");
            document.location.href = "/addOrder?category_id=" + _nums;
        })

        $(".ajax-linkk").each(function () {
            $(this).click(function () {
                var self = $(this);
                var diZhi = $(this).attr("rel");
                var num = $(this).attr("num");
                $.ajax({
                    type: "post",
                    async: false,
                    url: '/selinvoice',
                    data: {
                        'arrnum': num,
                    },
                    success: function (data) {
                        if (data.status == 1) {
                            $("#tianjia").center();
                            $(".tConfirm").show();
                            var a = data.arr;
                            if (a != '') {
                                for (var i in a) {
                                    $('#editMember div').find('input[name="' + i + '"]').val(a[i]);
                                    $('#editMember div').find('input[name="' + i + '"]').attr("readOnly", "true");
                                }
                            }
                        } else {
                            confirm("请先填写发票信息", {
                                confirm: function () {
                                    $('#editMember div').find('input[name=num]').val(num);
                                    $(".tConfirm").hide();
                                    $("#tianjia").center();
                                },
                                caneel: function () {

                                }
                            });
                        }
                    }
                });

            });
        });
    });

    function addInvoice() {
        var invoice_name = $("#invoice_name").val();
        var identification = $("#identification").val();
        var phone = $("#phone").val();
        var address = $("#address").val();
        var bank = $("#bank").val();
        var number = $("#number").val();
        if (invoice_name == '' || invoice_name == null) {
            alert("发票名称不能为空");
            return false
        }
        if (identification == '' || identification == null) {
            alert("纳税号不能为空");
            return false
        }
        if (phone == '' || phone == null) {
            alert("手机号不能为空");
            return false
        }
        if (address == '' || address == null) {
            alert("发票地址不能为空");
            return false
        }
        if (bank == '' || bank == null) {
            alert("开户行不能为空");
            return false
        }
        if (number == '' || number == null) {
            alert("账号不能为空");
            return false
        }
        if (!phone.match(/^1[3456789]\d{9}$/)) {
            // $flag = false;
            alert('手机号格式不正确', {
                    callback: function () {
                        $('#addphone').val("").focus();
                    }
                }
            );
            return false
        }

        var d = {};
        var t = $('#editMember').serializeArray();
        $.each(t, function () {
            d[this.name] = this.value;
        });
        // console.log(d);
        // return false;
        var num = $("#num").val();
        $.ajax({
            url: '/drawing',
            dataType: 'json',
            type: 'post',
            data: {d: d, num: num},
            success: function (msg) {
                //1 开票成功 2重复开票 -2开票失败
                if (msg.code == 1) {
                    alert("开票成功！",{callback:function(){
                            location.href="/orders?payed=1";
                        }});
                    // confirm("开票成功,是否立即下载？", {
                    //     okVal: "是",
                    //     cancelVal: "否",
                    //     confirm: function () {
                    //         window.open(msg.pdf_url);
                    //         location.href="/orders?payed=1";
                    //     },cancel:function(){
                    //         location.href="/orders?payed=1";
                    //     }
                    // });
                } else if (msg.code == -1) {
                    alert("请完善档案");
                } else if (msg.code == 2) {
                    alert("重复开票", {
                        callback: function () {
                            location.reload();
                        }
                    });
                } else if (msg.code == -2) {
                    alert(msg.msg);
                } else {
                    alert("开票失败");
                }
            }, error: function (res) {
                alert('网络错误');
            }
        });
    }


    function delDetail(num) {
        confirm("删除订单后，此订单所包含的学生订单将恢复至待付款状态<br/>确定要删除订单:"+num+"吗？",{
            confirm:function(){
                $.ajax({
                    url: '/enterprise/orders/delDetail',
                    dataType: 'json',
                    type: 'post',
                    data: {
                        num: num
                    },
                    success: function (data) {
                        // alert(data)
                        if (data.status == 1) {
                            alert(data.msg, {
                                callback: function () {
                                    document.location.href = document.location.href;
                                }
                            })
                        } else {
                            alert(data.msg)
                        }
                    }, error: function (res) {
                        alert('网络错误');
                    }
                });
            }
        })

    }

</script>
{/block}
{block name="content"}

<script>
    function rf(obj) {
        $(obj).attr("disabled", "disabled");
        $(obj).html('已下载');
    }
</script>

<div class="ad_r_top_ti_w">

</div>
<div class="ad_co_Box_warp">
    <div class="ad_co_Box">
        <div class="content" style="padding-top: 35px;padding-left: 10px;padding-right: 20px;">
            <div class="tab">
                <div class="tab-head">
                    <ul class="tab-nav">
                        <li class="active">
                            <a href="#tab-daifukuan">待付款</a>
                        </li>
                        <li>
                            <a href="#tab-fukuaning">线下付款中</a>
                        </li>
                        <li>
                            <a href="#tab-yifukuan">已付款</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-body">
                    <div class="tab-panel active" id="tab-daifukuan">
                        <table class="table table-bordered table-striped table-hover Dingdanxinxi">
                            <thead>
                            <tr>
                                <th>订单号</th>
                                <th>价格</th>
                                <th>报名时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody class="dingdandfk">
                            {volist name="unpayList" id="vo"}
                            <tr>
                                <td>{$vo.num}</td>
                                <td><span class="text-red tips">￥{$vo.price}</span></td>
                                <td>{$vo.add_time}</td>
                                <td>
                                    <button type="button" class="button button-small showIframeDialog "
                                            data-title="订单列表" data-href="/enterprise/orders/selDetail?num={$vo.num}"
                                            data-width="60" data-height="70">订单列表
                                    </button>
                                    <button type="button" class="button button-small bg-red"
                                            onclick="delDetail('{$vo.num}')">删除
                                    </button>
                                    <button type="button" data-num="{$vo.num}" data-price="{$vo.price}"
                                            class="button button-small bg-blue btnPay">付款
                                    </button>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-panel" id="tab-fukuaning">
                        <table class="table table-bordered table-striped table-hover Dingdanxinxi">
                            <thead>
                            <tr>
                                <th>订单号</th>
                                <th>价格</th>
                                <th>报名时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody class="dingdandfk">
                            {volist name="payingList" id="vo"}
                            <tr>
                                <td>{$vo.num}</td>
                                <td><span class="text-red tips">￥{$vo.price}</span></td>
                                <td>{$vo.add_time}</td>
                                <td>
                                    <button type="button" class="button button-small showIframeDialog "
                                            data-title="订单列表" data-href="/enterprise/orders/selDetail?num={$vo.num}"
                                            data-width="60" data-height="70">订单列表
                                    </button>
                                    <button type="button" data-num="{$vo.num}" data-price="{$vo.price}"
                                            class="button button-small bg-blue btnOff">汇款信息
                                    </button>
                                    <a href="/onlinepay?num={$vo.num}" class="button button-small bg-red">线上付款</a>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-panel" id="tab-yifukuan">
                        <table class="table table-bordered table-striped table-hover Dingdanxinxi">
                            <thead>
                            <tr>
                                <th>订单号</th>
                                <th>报名时间</th>
                                <th>支付时间</th>
                                <th>价格</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody class="dingdandfk">
                            {volist name="payList" id="vo"}
                            <tr>
                                <td>{$vo.num}</td>
                                <td>{$vo.add_time}</td>
                                <td>{$vo.paytime}</td>
                                <td><span class="text-red tips">￥{$vo.price}</span></td>
                                <td>
                                    <button type="button" class="button button-small showIframeDialog "
                                            data-title="订单列表" data-href="/enterprise/orders/selDetail?num={$vo.num}"
                                            data-width="60" data-height="70">订单列表
                                    </button>
                                    {if($vo.pdf_url == "")}
                                    <!--<button class="button bg-main btnAddOrUpdate">确定</button>-->
                                    <button type="button" num="{$vo.num}" class="button bg-red button-small ajax-linkk"
                                            rel="/drawing">开具发票
                                    </button>
                                    {else}
                                    <a href="{$vo.pdf_url}" download class="button bg-red button-small">下载发票</a>
                                    {/if}
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="tianjia" class="dialog" style="width:500px;">
    <div class="dialog-head"><strong></strong></div>
    <div class="dialog-body">
        <form class="xiugaixueyuan" id="editMember" style="height:290px;">
            <div><span>发票名称：</span><input type="text" id="invoice_name" name="invoice_name" class="input updatsename"
                                          placeholder="请输入发票名称"/></div>
            <div><span>纳税号：</span><input type="text" id="identification" name="identification" class="input updatephone"
                                         placeholder="纳税人识别号"/></div>
            <div><span>手机号：</span><input type="text" id="phone" name="phone" class="input" placeholder="请输入电话"/></div>
            <div><span>发票地址：</span><input type="text" id="address" name="address" class="input" placeholder="发票地址"/>
            </div>
            <div><span>开户行：</span><input type="text" id="bank" name="bank" class="input" placeholder="开户行"/>
            </div>
            <div><span>账号：</span><input type="text" id="number" name="number" class="input" placeholder="账号"/>
            </div>
            <div class="tConfirm" style="display: none;text-align:center;color:red;">请确认以上开票信息</div>
            <div><input type="hidden" id="num" name="num" class="input"/>
            </div>
            <!--<div><input type="text" id="num" name="num" class="input"/>-->
            <!--</div>-->
        </form>
        <div class="dialog-foot">
            <div class="anNiu">
                <button class="button btnAddOrUpdate" onclick="addInvoice();">确认开票</button>
                <button class="button dialog-close">取消</button>
            </div>
        </div>
    </div>
</div>


{/block}

