{extend name="layout"}
{block name="title"}支付中心{/block}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/two/css/pay.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/two/css/loginkuang.css"/>

{/block}
{block name="script"}
<script src="__PUBLIC__/two/js/payLogin.js"></script>

<script type="text/javascript">
    $(function(){
        $("#nav div").click(function(){
            console.log("sds")
            $("#nav div").eq($(this).index()).addClass("navdown").siblings().removeClass("navdown");
        })
    })
</script>
{/block}
{block name="content"}

<!--<div class="ad_r_top_ti_w">-->
<!--<div class="clearfix">-->
<!--<h2 class="x6"><span class="icon-cny"></span> 支付中心</h2> </div>-->
<!--<ul class="bread">-->
<!--<li>-->
<!--<a href="#" class="icon-home"> 首页</a>-->
<!--</li>-->
<!--<li>我要报名</li>-->
<!--<li class="active">支付中心</li>-->
<input type="hidden" id="payType"/>

<!--</ul>-->
<!--</div>-->
<div class="ad_co_Box_warp" style="padding-top: 40px">
	<div class="ad_co_Box">
		<div class="content" style="min-height: 700px;">
			<div class="container_play" id="nav">
				<div class="zhifubao navdown" type="alipaysubmit"></div>
				<div class="wechart" type="wxpaysubmit"></div>
			</div>
			<div class="pay-summary clearfix huabei-active">
				<div class="warning">
					<i class="imv2-error_c"></i>&nbsp;&nbsp;&nbsp;&nbsp;
					<span>请在 <b>23小时59分钟</b> 以内支付完成，如未完成此订单将自动关闭。需重新购买！</span>
				</div>

				<div class="summary">
					<div class="clearfix total">
						<div class="label">应付金额：</div>
						<div class="price">
							<em>￥</em>
							<span>{$parameter.total_fee}</span>
						</div>
					</div>
					{if (\session('rootId'))}

					<!--支付宝提交表单-->
					<form id='alipaysubmit' name='alipaysubmit' action='https://mapi.alipay.com/gateway.do?_input_charset=utf-8' method='get' target="_blank">
						{foreach $zfbparameter as $k=>$v}
						<input type='hidden' name='{$k}' value='{$v}'/>
						{/foreach}
					</form>


					<!--微信提交表单-->
					<form id='wxpaysubmit' name='alipaysubmit' action='/wxPay' method='post'>
						{foreach $parameter as $k=>$v}
						<input type='hidden' name='{$k}' value='{$v}'/>
						{/foreach}
					</form>
					{else/}
					{/if}
					<div class="submit-warp clearfix">
						<a href="#" id="goBack" style="   color: #8c8b8b;    font-size: 24px;    margin-top: 10px;  cursor: pointer;    text-decoration: underline;    padding-left: 55px;">返回</a>
						{if (\session('rootId'))}
						<span class="js-pay-submit" id="goPay">立即支付</span>
						{else/}
						<input type="hidden" id="categoryId" value="{$categoryId}">
						<span class="js-pay-submit" id="Shop">立即支付</span>
						{/if}
					</div>


				</div>
			</div>

		</div>
	</div>
</div>

<div id="code">
	<div class="close1">
		<a href="javascript:void(0)" id="closebt"><img src="__PUBLIC__/two/images/close.gif"></a>
	</div>
</div>
{/block}