{extend name="layout"}
{block name="title"}订单管理{/block}
{block name="css"}
<link href="__PUBLIC__/two/css/chosen.min.css" rel="stylesheet">
<link href="__PUBLIC__/two/css/icheck-green.css" rel="stylesheet">
<link href="__PUBLIC__/two/css/jquery.datetimepicker.css" rel="stylesheet">
<style media="screen">
    label {
        font-weight: bold;
    }

    .tab .tab-nav .active a {
        color: #fff;
        background: #0a8;
    }
</style>
{/block}
{block name="script"}
<script src="__PUBLIC__/two/js/pintuer.js"></script>
<script type="text/javascript">
    $(function () {
        var search = location.search;
        if(search.indexOf("payed=1")>-1){
            $(".tab-head ul li").last().click();
        }
        $(".bg-main").click(function () {
            var _nums = $(this).attr("category_id");
            document.location.href = "/addOrder?category_id=" + _nums;
        })


        $(".ajax-linkk").each(function() {
            $(this).click(function() {
                var self = $(this);
                var diZhi = $(this).attr("rel");
                var num = $(this).attr("num");
                $.ajax({
                    url: diZhi+"?num="+num,
                    async: false,
                    success: function (msg) {
                        //1 开票成功 2重复开票 -2开票失败
                        if(msg.code == 1){
                            alert("开票成功",{callback:function(){
                                    $(self).text("下载").unbind("click").click(function(){
                                        document.location.href = msg.pdf_url;
                                    })
                                }});
                        }else if(msg.code == -1){
                            alert("无此订单");
                        }else if(msg.code == 2){
                            alert("开票重复",{callback:function(){
                                    $(self).text("下载").unbind("click").click(function(){
                                        document.location.href = msg.pdf_url;
                                    })
                                }});
                        } else{
                            alert("开票失败");
                        }
                    }
                });
                $(".ajax-Box").html(htmlobj.responseText);
            });
        });

    });

    // $(".ajax-linkk").each(function() {
    //     $(this).click(function() {
    //         var diZhi = $(this).attr("rel");
    //         htmlobj = $.ajax({
    //             url: diZhi,
    //             async: false
    //         });
    //         $(".ajax-Box").html(htmlobj.responseText);
    //     });
    // });

</script>
{/block}
{block name="content"}
<div class="r_main">
<div class="ad_r_top_ti_w">
    <div class="clearfix">
        <h2 class="x6"><span class="icon-credit-card"></span>订单管理</h2>
    </div>
    <ul class="bread">
        <li>
            <a href="#" class="icon-home"> 首页</a>
        </li>
        <li class="active">订单管理</li>
    </ul>
</div>
<div class="ad_co_Box_warp">
    <div class="ad_co_Box">
        <div class="content" style="min-height: 700px;">
            <div class="tab">
                <div class="tab-head">
                    <ul class="tab-nav">
                        <li class="active">
                            <a href="#tab-daifukuan">待付款</a>
                        </li>
                        <li>
                            <a href="#tab-yifukuan">已付款</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-body">
                    <div class="tab-panel active" id="tab-daifukuan">
                        <table class="table Dingdanxinxi">
                            <thead>
                            <tr>
                                <th>订单信息</th>
                                <th>提交人</th>
                                <th>价格</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody class="dingdandfk">
                            {volist name="unpayList" id="vo"}
                            <tr>
                                <td><img width="200px" height="120px" src="{$vo.bag_img}"/> {$vo.title}</td>
                                <td>{$vo.enterprise_name}</td>
                                <td><span class="text-red tips">￥{$vo.price}</span></td>
                                <td>
                                    <button type="button" class="button  button-small bg-main" category_id="{$vo.category_id}">立即付款</button>
                                    <button type="button" class="button  button-small border-main">驳回订单</button>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                        <!--<div class="padding text-right">-->
                        <!--<ul class="pagination border-blue pagination-small">-->
                        <!--<li>-->
                        <!--<a href="#">上一页</a>-->
                        <!--</li>-->
                        <!--</ul>-->
                        <!--<ul class="pagination pagination-group border-blue pagination-small">-->
                        <!--<li class="active">-->
                        <!--<a href="#">1</a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a href="#">2</a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a href="#">3</a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a href="#">4</a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a href="#">5</a>-->
                        <!--</li>-->
                        <!--</ul>-->
                        <!--<ul class="pagination border-blue pagination-small">-->
                        <!--<li>-->
                        <!--<a href="#">下一页</a>-->
                        <!--</li>-->
                        <!--</ul>-->
                        <!--</div>-->
                    </div>
                    <div class="tab-panel" id="tab-yifukuan">

                        <table class="table Dingdanxinxi">
                            <thead>
                            <tr>
                                <th>订单信息</th>
                                <th>订单号</th>
                                <th>报名时间</th>
                                <th>支付时间</th>
                                <th>价格</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody class="dingdandfk">
                            {volist name="payList" id="vo"}
                            <tr>
                                <td><img width="200px" height="120px" src="{$vo.bag_img}"/> {$vo.title}</td>
                                <td>{$vo.num}</td>
                                <td>{$vo.add_time}</td>
                                <td>{$vo.paytime}</td>
                                <td><span class="text-red tips">￥{$vo.price}</span></td>
                                <td>
                                    {if($vo.pdf_url == "")}
                                    <button type="button" num="{$vo.num}" class="button bg-red button-small ajax-linkk" rel="/drawing">开具发票</button>
                                    {else}
                                    <a href="{$vo.pdf_url}" class="button bg-red button-small ajax-linkk">下载</a>
                                    {/if}
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                        <!--<div class="padding text-right">-->
                        <!--<ul class="pagination border-blue pagination-small">-->
                        <!--<li>-->
                        <!--<a href="#">上一页</a>-->
                        <!--</li>-->
                        <!--</ul>-->
                        <!--<ul class="pagination pagination-group border-blue pagination-small">-->
                        <!--<li class="active">-->
                        <!--<a href="#">1</a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a href="#">2</a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a href="#">3</a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a href="#">4</a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a href="#">5</a>-->
                        <!--</li>-->
                        <!--</ul>-->
                        <!--<ul class="pagination border-blue pagination-small">-->
                        <!--<li>-->
                        <!--<a href="#">下一页</a>-->
                        <!--</li>-->
                        <!--</ul>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer"></div>
</div>
{/block}

