body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;} 
table {border-collapse:collapse;border-spacing:0;} 
fieldset,img {border:0} 
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal} 
ol,ul {list-style:none} 
caption,th {text-align:left} 
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal} 
q:before,q:after {content:''} 
abbr,acronym { border:0}
a {
    color: black;
    text-decoration: none;
    -webkit-tap-highlight-color: #4475A7;
}
.content_main{
	width: 100%;
	padding-top: 30px;
	min-height:900px;
	
}

.main{
	width: 100%;
    margin: 0 auto;
    min-height: 800px;
    
    background: white;
}
.content_main_kecheng{
	width: 90%;
	height:180px;
	padding: 20px 5%;/*
	background: #0066FF;*/
	display: flex;
}
.content_main_kecheng_img{
	width: 30%;
	height:180px;
}
.content_main_kecheng_img>img{
	width: 100%;
	height: 100%;
}
.content_main_kecheng_name{
	padding-left: 30px;
	width: 60%;
	
}
.content_main_kecheng_name_ming{
	font-size: 20px;
	line-height: 30px;
}
.content_main_kecheng_name_text{
	padding:10px 0;
	font-size: 14px;
	color: #999;
}
.content_main_kecheng_name_jiage{
	padding-top: 20px;
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	color: red;
}
.content_teacher{
	width: 90%;
	padding: 0 5%;
}
.teachers{
	width: 90%;
	padding: 0 5%;
	height:300px;
	border-bottom: 1px solid #EFEFEF;
	border-top: 1px solid #EFEFEF;
	/*background-image: url(../img/5ad05e350001ef0c09000500.jpg);*/
	background-size:100% 100%;
}
.teacher {
    width: 160px;
    margin: 0 auto;
    padding-top: 60px;
    position: relative;
    text-align: center;
}
/*.whiteBorder {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 0 auto 12px auto;
    background: #fff;
}*/
.headPortrait {
    width: 132px;
    height: 132px;
    left: 14px;
    top: 5px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
}
.headPortrait>img{
	width: 100%;
	height:100%;
}
.nickname {
    font-weight: bold;
    font-size: 20px;
    color: #000;
    margin-top: 90px;
    line-height: 30px;
    margin-bottom: 4px;
}
.teacher p {
    font-size: 14px;
    color: #000;
    line-height: 22px;
}
.line {
    
    width: 2px;
    height: 80%;
    margin-left: 50px;
    margin-top: 5%;
    background: rgba(255, 255, 255, 0.4);
}
.teacher_jianjie{
	width: 500px;
	margin: 0 auto;
}
.info-name {
	text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #000;
    line-height: 36px;
    margin-bottom: 16px;
}
.info-desc {
	text-align: center;
    font-size: 14px;
    color: #000;
    line-height: 28px;
}

.content_kechengjianjie{
	
}
.content_kechengjianjie ul {
	width: 90%;
    padding: 0 5% 30px 5%;
    text-align: center;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}
.content_kechengjianjie ul li {
    text-align: center;
    width: 24%;
    
}
.img-box {
    margin: 0 auto;
    width: 100%;
    height: 86px;
    position: relative;
    background-image: url(../../img/section2-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    box-sizing: border-box;
    padding-top: 11px;
    margin-bottom: 13px;
}
#img_box>p {
    font-size: 14px;
    color: #FFFFFF;
    line-height: 24px;
    font-weight: bold;
    
}
.content_kechengjianjie ul li p {
    font-size: 14px;
    color: #383D42;
    line-height: 28px;
    text-overflow:ellipsis;
    overflow: hidden;
}

.content-box>h1 {
	width: 100%;
	margin-top: 30px;
	text-align: center;
    font-size: 22px;
    color: #1C1F21;
    line-height: 48px;
    font-weight: bold;
    margin-bottom: 30px;
}
footer {
    line-height: 40px;
    padding-top: 55px;
    text-align: center;
    color: #fff;
    height: 146px;
    width: 100%;
    font-size: 14px;
    background: rgba(51,51,51,1);
    
}