body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;} 
table {border-collapse:collapse;border-spacing:0;} 
fieldset,img {border:0} 
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal} 
ol,ul {list-style:none} 
caption,th {text-align:left} 
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal} 
q:before,q:after {content:''} 
abbr,acronym { border:0}
a {
    color: black;
    text-decoration: none;
    -webkit-tap-highlight-color: #4475A7;
}
.content_dfk {
    padding: 20px 0 0 0;
}
.tab_tbb ul {
    cursor: pointer;
    display: flex;
}
.selectedbb {
    color: red;
}
.yifufufu {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid black;
}
li {
    list-style-type: none;
}
.hidebb {
    display: none;
}
.quanx_head{
	padding-top: 20px;
	padding-left: 40px;
	display: flex;
}
.signup_item_input {
    border: 1px solid #C9C9C9;
    border-radius: 2px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    padding: 5px 6px;
    margin: 0 10px;
    -webkit-tap-highlight-color: transparent;
}
.quanx_tianjia {
    color: #FFFFFF;
}
a {
    text-decoration: none;
}
.nav1_left_tianjia {
    width: 90px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    display: block;
    margin-left: 18px;
    border-radius: 2px;
    color: #FFFFFF;
    background: #2A8AE2;
    font-size: 14px;
    cursor: default;
}
.quanx_main{
	padding: 40px 5%;
	width: 90%;
}
.listext {
    border-right: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    border-collapse: collapse;
    width: 74%;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.listext th {
    border: solid 1px #ddd;
    text-align: left;
    padding: 10px;
    font-size: 14px;
    height: 20px;
}
.listext th {
    background: #eee;
    color: #2A8AE2;
    font-weight: 400;
}
.listext td {
    border-left: 1px solid #EFEFEF;
    border-top: 1px solid #EFEFEF;
    text-align: left;
    padding: 10px;
    font-size: 14px;
    height: 30px;
}
.content_main_caozuo {
    display: flex;
}
.content_dingdanxinxi_right_quxiao {
    width: 100px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    display: block;
    border-radius: 1px;
    color: #000000;
    background: #ffffff;
    border: 1px solid #EFEFEF;
    cursor: default;
}
.content_dingdanxinxi_right_shanchu {
    width: 60px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    display: block;
    margin-left: 10px;
    border-radius: 1px;
    color: #FFFFFF;
    background: red;
    cursor: default;
}
.quanx_main_fot{
	display: flex;
	width: 90%;
	padding: 40px 5%;
}
.quanx_main_one{
	
	width: 20%;
}
.quanx_main_two{
	
	width: 60%;
}

.content_dingdanxinxi_right_yes {
    font-size: 14px;
    width: 60px;
    height: 32px;
    line-height: 32px;
    margin-top: 5px;
    text-align: center;
    display: block;
    margin-left: 10px;
    border-radius: 1px;
    color: #FFFFFF;
    background: #0F9529;
    cursor: default;
}
.quanx_main_two_caicai{
	line-height: 40px;
}
/*--相关的单选复选按钮--*/
@keyframes hover-color {
  from {
    border-color: #c0c0c0; }
  to {
    border-color: #3e97eb; } }

.magic-checkbox {
  position: absolute;
  display: none; }


.magic-checkbox[disabled] {
  cursor: not-allowed; }


.magic-checkbox + label {
  position: relative;
  display: block;
  padding-left: 30px;
  cursor: pointer;
  vertical-align: middle; }

  .magic-checkbox + label:hover:before {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: hover-color; }

  .magic-checkbox + label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: '';
    border: 1px solid #c0c0c0; }

  .magic-checkbox + label:after {
    position: absolute;
    display: none;
    content: ''; }

.magic-checkbox[disabled] + label {
  cursor: not-allowed;
  color: #e4e4e4; }
  .magic-checkbox[disabled] + label:hover,
  .magic-checkbox[disabled] + label:before,
  .magic-checkbox[disabled] + label:after {
    cursor: not-allowed; }
  .magic-checkbox[disabled] + label:hover:before {
    border: 1px solid #e4e4e4;
    animation-name: none; }
  .magic-checkbox[disabled] + label:before {
    border-color: #e4e4e4; }

.magic-checkbox:checked + label:before {
  animation-name: none; }

.magic-radio:checked + label:after,
.magic-checkbox:checked + label:after {
  display: block; }



.magic-checkbox + label:before {
  border-radius: 3px; }

.magic-checkbox + label:after {
  top: 2px;
  left: 7px;
  box-sizing: border-box;
  width: 6px;
  height: 12px;
  transform: rotate(45deg);
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-top: 0;
  border-left: 0; }

.magic-checkbox:checked + label:before {
  border: #3e97eb;
  background: #3e97eb; }

.magic-checkbox:checked[disabled] + label:before {
  border: #c9e2f9;
  background: #c9e2f9; }

.magic_yi{
	width:80px;
}
