<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/header.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/shop.css"/>
    <title>购买课程</title>
</head>
<body>
<div class="container">
    <header>
        <div class="header1" id="bignav">
            <div class="nav1">
                <div>
                    欢迎来到环境保护知识赋能网络培训系统！
                </div>
                <div>
                    客服电话：400-070-1000
                </div>
            </div>
        </div>
        <div class="nav">

            <div class="nav_a">
                <div id="logo">
                    <img src="__PUBLIC__/img/LOGO.png"/>
                </div>
                <div class="nav_y">
                    <nav>
                        <ul class="nav_s">
                            <li class="index_sy">首页</li>
                            <li>行业信息</li>
                            <li>课程展示</li>
                            <li>专家介绍</li>
                            <li>在线论坛</li>
                            <li>关于我们</li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="nav_b">
                <a href="">企业合作入口</a>
            </div>

        </div>
    </header>
    <div class="content">
        <div class="content_header">
            <div class="content_header_liucheng">
                <div>
                    <div class="content_header_liucheng_img"><img src="__PUBLIC__/img/liucheng1.png"/></div>
                    <div class="content_header_liucheng_txt">一、申请企业账号</div>
                </div>
                <div id="jiantou">
                    <img src="__PUBLIC__/img/jiantou.png"/>
                </div>
                <div>
                    <div class="content_header_liucheng_img"><img src="__PUBLIC__/img/liucheng3.png"/></div>
                    <div class="content_header_liucheng_txt">三、购买系列课程</div>
                </div>
                <div id="jiantou1">
                    <img src="__PUBLIC__/img/jiantou.png"/>
                </div>
                <div>
                    <div class="content_header_liucheng_img"><img src="__PUBLIC__/img/liucheng2.png"/></div>
                    <div class="content_header_liucheng_txt">二、导入员工信息</div>
                </div>
                <div id="jiantou2">
                    <img src="__PUBLIC__/img/jiantou.png"/>
                </div>
                <div>
                    <div class="content_header_liucheng_img"><img src="__PUBLIC__/img/liucheng4.png"/></div>
                    <div class="content_header_liucheng_txt">四、员工在线学习</div>
                </div>
            </div>
            <div class="content_header_footer">购买课程</div>
        </div>
        <div class="content_main">
            {foreach $parentArray as $key=>$parent}
            <div class="main">
                <div class="jiage">
                    <div class="jiage2">课程名称：</div>
                    <div>{$parent.title}</div>
                </div>
                <div class="jiage" style="padding-top: 30px;">
                    <div class="jiage2">价格：￥{$parent.bag_price}</div>
                    <div>(有效期：一年)</div>
                </div>
                <div class="content_goumai">
                    <a href="/addOrder?category_id={$parent.id}" class="signup_submit js_signup_submit"
                       disabled="disabled">立即购买</a>
                </div>
                <div class="main_content">
                    {foreach $parent.childs as $ckey=>$child}
                    <div class="main_content_neirong">
                        <div class="main_content_img">
                            <a href="/firmsign/login/detail?cid={$child.id}"><img src="{$child.bag_img}"/></a>
                        </div>
                        <div class="main_content_name">
                            <p class="main_content_name_name">{$child.title}</p>
                        </div>
                    </div>
                    {/foreach}
                </div>
                <div class="signup_divide"></div>
            </div>
            {/foreach}
        </div>
    </div>
    <footer>
        <P>意见反馈-用户协议-关于我们-商务合作-加入我们</P>
        <P>@北京博奥网络教育科技股份有限公司 技术支持 京 ICP 备16030848 号</P>
    </footer>
</div>
</body>