<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{block name="title"}{/block}__TITLE__</title>
    <link href="__PUBLIC__/two/css/pintuer.css" rel="stylesheet">
    <link href="__PUBLIC__/two/css/admin.css" rel="stylesheet">
    <link href="__PUBLIC__/two/css/chosen.min.css" rel="stylesheet">
    <link href="__PUBLIC__/js/common/alertBox/alertBox.css" rel="stylesheet">
    <link href="__PUBLIC__/two/css/jquery.datetimepicker.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.wq.css">
    <link rel="stylesheet" media="only screen and (min-width: 900px) and (max-width: 1400px)" href="__PUBLIC__/two/css/only1200-1400.css">


    <script src="__PUBLIC__/js/jquery-2.2.4.min.js"></script>
    <script src="__PUBLIC__/js/common/alertBox/alertBox.js"></script>
    <script src="__PUBLIC__/js/common/extensions.js"></script>
    <script src="__PUBLIC__/js/common/Tool.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/common/IframeDialog/IframeDialogBase.js"></script>
    <script src="__PUBLIC__/js/common/IframeDialog/autoShowIframeDialog.js"></script>
    <script src="__PUBLIC__/two/js/echarts.common.min.js"></script>
    <script src="__PUBLIC__/two/js/zui.min.js"></script>
    <script src="__PUBLIC__/two/js/pintuer.js"></script>
    {block name="css"}{/block}
    {block name="script"}{/block}
</head>
<body>
    {block name="content"}{/block}
</body>
</html>