<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{block name="title"}{/block}__TITLE__</title>
    <link href="__PUBLIC__/js/common/alertBox/alertBox.css" rel="stylesheet">
    <script src="__PUBLIC__/js/jquery-2.2.4.min.js"></script>
    <script src="__PUBLIC__/js/common/alertBox/alertBox.js"></script>
    <script src="__PUBLIC__/two/js/pintuer.js"></script>
    {block name="css"}{/block}
    {block name="script"}{/block}
</head>
<body>
{block name="content"}{/block}
</body>

</html>