{extend name="layout"}
{block name="title"}分类管理列表{/block}
{block name="css"}
<link href="__PUBLIC__/css/upload_picture.css" rel="stylesheet">   <!--//上传图片样式表-->
{/block}
{block name="script"}
<script src="__PUBLIC__/js/picture_verify.js"></script>  <!--//上传图片验证格式-->
<script type="text/javascript">
    $(function(){
        //搜索功能
        $("#search").click(function(){
            var url = $(this).attr('url');
            var name = $(this).prev('input').serialize();
//            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
//            query = query.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + name;
            }else{
                url += '?' + name;
            }
            window.location.href = url;
        });

    })
</script>
{/block}
{block name="content"}
<body>
<!--===================================================-->
<div id="page-content">
    <!--===================================================-->
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">院校列表</h3>
        </div>
        <div class="padding border-bottom">
            <div class="col-lg-4">
                <h3 class="panel-title">
                    <!--<a id="discard" href="javascript:;"><button id="demo-btn-addrow" class="btn btn-info">删除 </button></a>-->
                    <!--<button id="demo-btn-addrow" class="btn btn-info" onclick="add(this)">添加教师</button>-->
                </h3>
            </div>
            <div class="col-lg-8" style="padding: 0 20px 0 20px;">
                <div class="float-right">
                    <!--<input type="text" name="name" class="input search-form" size="20" placeholder="搜索院校名称" />-->
                    <!--<a  href="javascript:;" id="search" url="{:url('index')}">搜索</a>-->
                </div>
            </div>

        </div>
        <div class="panel-body">
            <table id="demo-dt-basic" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>id</th>
                    <th>院校名称</th>
                    <th>创建时间</th>
                    <th class="min-tablet">操作</th>
                </tr>
                </thead>
                <tbody>
                {foreach name="data" id="v"}
                <tr>
                    <td>{$v['id']}</td>
                    <td>{$v['_name']}</td>
                    <td>{$v['create_time']|date="Y-m-d H:i:s",###}</td>
                    <td>
                       <a href="javascript:confirm('确定删除？解除院校与学生的关系,学生登录重新选择院校!',{confirm:function(){location='{:url('Admin/Academy/delete',array('id'=>$v['id']))}'}})"><button style="background-image: linear-gradient(#dddddd, #dddddd);"> 删除</button></a>
                    </td>

                </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
    </div>
    <!--===================================================-->
</div>
<!--===================================================-->



</body>
{/block}
